.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 4fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.Gamelist{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 0vh;
   
}

.wishlist{
    margin-top: 13vh;
}

@media (max-width:1000px) {
     .wishlist{
        margin-top: 8vh;
    }
}

